@use "../../sass/" as *;
.footer {
  padding: 3rem 0;
  background-color: #eff5f9;
  color: #66727f;
  &__container {
    max-width: 1274px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding: 0.5rem;
    p {
      line-height: 2rem;
      cursor: pointer;
      &:hover {
        color: $blue-button-hover;
      }
    }
    &--ok {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url("../../../public/images/footer/ok-gray.svg");
      &:hover {
        background-image: url("../../../public/images/footer/ok-orange.svg");
      }
    }
    &--telegram {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url("../../../public/images/footer/telegram-gray.svg");
      &:hover {
        background-image: url("../../../public/images/footer/telegram-blue.svg");
      }
    }
    &--vk {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url("../../../public/images/footer/vk-gray.svg");
      &:hover {
        background-image: url("../../../public/images/footer/vk-blue.svg");
      }
    }
    &--youtube {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url("../../../public/images/footer/youtube-gray.svg");
      &:hover {
        background-image: url("../../../public/images/footer/youtube-colour.svg");
      }
    }
    &--links {
      display: flex;
      gap: 0.8rem;
    }
  }
}
